*.pyc
/notebooks
/samplers/__pycache__
*.cpython-39.pyc
samplers/__pycache__/__init__.cpython-39.pyc
*.h5py
samplers/__pycache__/jax_samplers.cpython-39.pyc
*.ipynb
brownian.py
/images
.DS_Store
/hyperparams